# Ejercicios con `pandas`

Importe las librerías necesarias:

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Imprima las versiones de todas la librerías

In [47]:
print(pd)
print(plt)
print(sns)

<module 'pandas' from 'C:\\Anaconda\\lib\\site-packages\\pandas\\__init__.py'>
<module 'matplotlib.pyplot' from 'C:\\Anaconda\\lib\\site-packages\\matplotlib\\pyplot.py'>
<module 'seaborn' from 'C:\\Anaconda\\lib\\site-packages\\seaborn\\__init__.py'>

Importe los datos desde [aqui](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Asígnelos a una variable `chipo`.

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', "\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Muestre las primeras 10 entradas del dataframe

In [49]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Cual es el número total de observaciones en el dataset?

In [50]:
print('N° Observaciones:',df.shape[0]) # solucion 1

N° Observaciones: 4622

In [51]:
print('N° Observaciones:',len(df.index)) # solucion 2

N° Observaciones: 4622

Cuantas columnas hay en el dataset? Copielas a una lista.

In [52]:
columnas = df.columns
print('N° de columnas :', len(columnas))
lista = ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

N° de columnas : 5

Imprima el nombre de las columnas

In [53]:
lista

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

Como está indexado el dataset?

Cual fue el objeto más pedido?

In [55]:
df.sort_values('item_name',ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
...,...,...,...,...,...
1916,774,1,6 Pack Soft Drink,[Diet Coke],$6.49
1124,465,1,6 Pack Soft Drink,[Coke],$6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],$6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],$6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],$6.49

Para el objeto más pedido, cuantos fueron?

In [57]:
df.groupby(['Veggie Soft Tacos']).cumsum()

KeyError: 'Veggie Soft Tacos'

Cual fue el item más pedido en la columna `choice_description`?

In [56]:
df.sort_values('choice_description',ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3245,1299,1,Barbacoa Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",$8.99
115,51,1,Barbacoa Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",$8.99
116,51,1,Chicken Burrito,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",$8.49
3051,1215,1,Chicken Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",$8.49
3269,1309,1,Chicken Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",$8.49
...,...,...,...,...,...
4600,1827,1,Chips and Guacamole,NaN,$4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45

Cuantos items fueron pedidos en total?

Convierte el precio en un `float`

Cuanto fue la ganancia total en el periodo del dataset?

In [ ]:
#sumar item_price

Cúantos pedidos se hicieron?

In [ ]:
#sumar quantity

Cual fue el promedio de ganancia por orden?

Cuántos items se vendieron en total?